/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-white:#fff;
	--color-text-grey:#707072;
	--color-background-white:#fff;
	--color-background-black:#111;
	--color-background-grey:#f5f5f5;
}


@font-face {
	font-family: Nike Futura;
	src: url(https://www.nike.com/static/ncss/4.2/dotcom/fonts/Nike-Futura.woff2);
	format: ('woff2');
}

@font-face {
	font-family: Helvetica;
	src: url(https://www.nike.com/static/ncss/4.2/dotcom/fonts/HelveticaNowDisplayMedium.woff2);
	format: ('woff2');
}

@font-face {
	font-family: Nike-TG;
	src: url(https://www.nike.com/static/ncss/4.2/dotcom/fonts/Nike-TG.woff2);
	format: ('woff2');
}
/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* HEADER*/
header nav:first-of-type {
	display: flex;
	justify-content: space-between;
}
header nav:first-of-type ul:first-of-type {
	display: flex;
	justify-content: flex-start;
	gap: 1.5em;
	list-style: none;
}

/* logo grootte */
header nav:first-of-type a svg {
	width: 3.5em;
	height: 3.5em;
}

/* HAMBURGER MENU met hulp van donna*/
header nav:nth-of-type(2){
	transform: translateX(20em);
	position: fixed;
	top:0;
	right: 0;
	height: 100vh;
	width: 320px;
}

header nav:nth-of-type(2) ul{
	position: relative;
	height: 30em;
	width: 50%;
	background-color: var(--color-background-white);
}

header nav:nth-of-type(2).zichtbaar{
	transform: translateX(0);
}

main.wazig {
    overflow-y: hidden;
	filter: blur(0.2em) brightness(75%);
}

header nav:nth-of-type(2) ul:first-of-type{
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--color-background-white);
	list-style-type: none;
	font-family: Helvetica;
}

header nav:nth-of-type(2) ul:nth-of-type(2){
	position: absolute;
	right: 0;
	bottom:0;
	background-color: var(--color-background-white);
	list-style-type: none;
	font-family: Helvetica;
	display: flex;
}

header nav:nth-of-type(2) ul{
	background-color: var(--color-background-white);
}

header nav:nth-of-type(2) button {
	margin: auto;
	right: 100;
	outline: inherit;
}

/* SECTION 1 */
section:first-of-type ul{
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
}

section:first-of-type ul:first-of-type li p,a{
	font-size: 1em;
	display: inline-block;
}

section:first-of-type ul:first-of-type li h2{
	font-size: 1.5em;
}

section:first-of-type ul li{
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	text-align:center;
	background-color: var(--color-background-grey);
	--items: 3;
	width:100%;
	height: 4.6em;
	padding:1em;
	
	animation-name:caro;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

/* de tweede en derde li */
section:first-of-type li:nth-of-type(n + 2) {
	position:absolute;
	top:0;
}

@keyframes caro {
	0%, 33.3% {
		opacity:1;
	}
	33.31%, 100% {
		opacity:0;
	}
}

section:first-of-type li:nth-of-type(2) {
	animation-delay:-2s;
} 

section:first-of-type li:nth-of-type(3) {
	animation-delay:-1s;
} 

/* SECTION 2 */
section:nth-of-type(2) img {
	width: 26em;
	height: 35em;
	object-fit: none;
}

section:nth-of-type(2) h1 {
	font-family: Nike Futura;
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
}

section:nth-of-type(2) p {
	font-family: Helvetica;
	text-align: center;
}

section:nth-of-type(2) button {
	font-family: Helvetica;
	font-size: 1em;
	background-color: #111;
	color: var(--color-text-white);
	border-radius: 2em;
	padding: .5em 1em .5em 1em;
	display: flex;
	margin: auto;
}

/* Caroussel 1 */
section:nth-of-type(3) ul:first-of-type {
	list-style-type: none;
	display: flex;
	overflow-x: auto;
	gap: 1em;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
}

section:nth-of-type(3) ul:first-of-type li {
	flex-shrink: 0;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
}

section:nth-of-type(3) ul:first-of-type p {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	padding-left: 1em;
}

/* SECTION 4 CAROUSSEL 2 */
section:nth-of-type(4) h2 {
	font-size: 2em;
	font-family: helvetica, sans-serif;
	padding-left: 1em;
}

section:nth-of-type(4) ul:first-of-type {
	list-style-type: none;
	display: flex;
	overflow-x: auto;
	gap: 1em;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
}

section:nth-of-type(4) ul:first-of-type li {
	flex-shrink: 0;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
}

/* STYLING TEKST ONDER AFBEELDING CAROUSSEL 2 */
section:nth-of-type(4) ul:first-of-type li h4 {
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0;
}

section:nth-of-type(4) ul:first-of-type li h5 {
	color: var(--color-text-grey);
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 100;
	margin-bottom: 0;
	margin-top: 0;
}

section:nth-of-type(4) ul:first-of-type li h3 {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1;
	margin-top: 0;
}

/* ONTDEK MEER */
section:nth-of-type(5) h2{
	font-size: 2em;
	font-family: helvetica, sans-serif;
	padding-left: 1em;
}

section:nth-of-type(5) ul{
	list-style-type: none;
}

section:nth-of-type(5) section:first-of-type img:first-of-type{
	position: relative;
}

section:nth-of-type(5) ul:first-of-type li:first-of-type button{
	padding: 0.5em;
	padding-bottom: 1em;
	padding-right: 1em;
	
	border: none;
	border-radius: 1.5em;
	background-color: var(--color-background-white);
}

section:nth-of-type(5) ul:first-of-type li:nth-of-type(2) button{
	padding: 0.5em;
	padding-bottom: 1em;
	padding-right: 1em;
	
	border: none;
	border-radius: 1.5em;
	background-color: var(--color-background-white);
}

/* FOOTER */
footer{
	background-color: var(--color-background-black);
}

footer ul{
	list-style-type: none;
}

footer a{
	margin: 1em;
	text-decoration: none;
	color: var(--color-text-white);
	font-family: Nike-TG, sans-serif;
	font-size: 1em;
}